
*{
    
    margin: 0;
    font-family: sans-serif;
    border: border-box;
}
body{
    position: relative;
    background-color: #e4e4e4;
}
.header{
   position: sticky;
   top: 0;
   left: 0;
   z-index: 100000;
    width: 100%;
    height: 65px;
    color: white;
    display: flex;
 justify-content: space-evenly;
    align-items: center;
    background-color: #131921;
}
.headerlogo{
    width: 100px;
    height: 50px;
}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.location{
    width: 80px;
    height: 50px;
   color: #cccccc;
   
}
.location-icon{
    display: flex;
    align-items: center;
   
}
.loc1{
    margin-top: 10px;
    font-size: 12px;
   margin-left: 15px;
}
.loc2{
    color: white;
    font-size: 14px;
    font-weight: 200;
   margin-left: 4px;
}
.header-search{
    width: 800px;
    height: 38px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
   
}
.search-select{
    background-color: #f3f3f3;
    width: 57px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-input{
    width: 100%;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 155, 47);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.language{
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
lang-select{
    font-weight: 800;
}

.account{
    width: 120px;
    height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.acc-ex{

}
.acc-ex p{
    font-size: 12px;
}
.acc-ex h1{
    font-size: 14px;
}

.return{
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ro p{
    font-size: 12px;
}
.ro h1{
    font-size: 14px;
}

.cart{
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carts{
    display: flex;
}
.cart-icon{
    
}
.carts h1{
    font-size: 14px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:  1.5px solid white; 
    border-radius: 3px;
}

/* List */
.list{
    display: flex;
   
    align-items: center;
    width: 100%;
    height: 35px;
    color: white;
    background-color:#232f3e;

}
.all-list{
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    font-size: 14px;
}
.list-a a{
    color: white;
    text-decoration: none;
    padding: 8px 5px;

    font-size: 14px;

}

/* silder */

.swiper {

    width: 100%;
    height: 500px;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    
  }
  .slider-button{
    color: black;
    font-size: large;
    margin-top: -130px;
  }
/* Boxes */
.boxes{
    position: absolute;
    width: 100%;
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    top: 350px;
  
    /* background-color: #cccccc; */
    
}
.box{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 23%;
    height: 420px;
    margin-left: 23px;
    background-color: white;
    
    margin-top: 20px;
}

.boxm{
   display: flex;
  
    flex-wrap: wrap;
    padding: 10px 10px;
    background-color: white;

margin-top: -20px;
}

.boxes-h1-tag{
    font-weight: 800;
    font-size: 21px;
    padding: 5px 5px;
    margin-left: 20px;
    margin-top: 20px;
}
.box1-img1{
    width: 130px;
    height: 130px;
    margin-left: 20px;
  text-decoration: none;
}

.box1-img2{
    width: 130px;
    height: 130px;
    margin-left: 20px;
   
}
.box1-img3{
    width: 130px;
    height: 130px;
    margin-left: 20px;
}
.box1-img4{
    width: 130px;
    height: 130px;
    margin-left: 20px;
}
.box1-img1 a{
    font-size: 12px;
    color: rgb(39, 37, 37);
  text-decoration: none;
}
.box1-img2 a{
    font-size: 12px;
    color: rgb(39, 37, 37);
  text-decoration: none;
}
.box1-img3 a{
    font-size: 12px;
    color: rgb(39, 37, 37);
  text-decoration: none;
}
.box1-img4 a{
    font-size: 12px;
    color: rgb(39, 37, 37);
  text-decoration: none;
}


.box1-img1 img{
    width: 100%;
    height: 100px;
}
.box1-img2 img{
    width: 100%;
    height: 100px;
}
.box1-img3 img{
    width: 100%;
    height: 100px;
}
.box1-img4 img{
    width: 100%;
    height: 100px;
}
.boxes-a-tag{
    font-size: 13px;
    color: #007185;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 300;
}
.boxes-a-tag:hover{
    font-size: 13px;
    color: orange;
    text-decoration: underline;
    margin-left: 20px;
    font-weight: 300;
}
.box2margin{
    margin-top: 8px;
}
.box3-imgstyle{
    height: 100%;
    width: 100%;
   box-sizing: border-box;
   padding-left: 15px;
   padding-right: 15px;
}

/* swiper1 */
.swiper1{
    margin-left: 28px;
    width: 96%;
    height: 350px;
    background-color: white;
    margin-top: 680px;
}
.label1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.label1 h1{
    font-size: 21px;
    margin-left: 20px;
    margin-top: 17px;
}
.label1 a{
    font-size: 14px;
    margin-top: 21px;
    margin-left: 15px;
    text-decoration: none;
    color: #007185;
}
.label1 a:hover{
    color: orange;
}

#image-slider{
    height: 300px;
    width: 100%;
   
    
}
.splide__slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}
.item1{
    width: 16.5%;
    height: 270px;
    background-color: white;
}
.itemimg{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.itemimg img{
   
    object-fit: cover;
}

.itemoffer{
    font-size: 12px;
    margin-top: 14px;
}
.itemoffer a{
    text-decoration: none;
}
#upto{
    margin-left: 5px;
    color: white;
    background-color: #CC0C39;
    padding: 5px 8px;
    border-radius: 3px;
}
#gifl{
    margin-left: 5px;
    color: #CC0C39;
    font-weight: 600;
}
.itemname{
    margin-left: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 10px;
    
}

/* boxes3 */
.boxes3inboximg img{
    object-fit: cover;
    margin-left: 11px;
    width: 310px;
    height: 270px;
}

/* Train ticket booking */
.ticketbooking{
    margin-left: 28px;
    width: 96%;
    height: 350px;
    background-color: white;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticketbooking img{
    width: 96%;
    height: 310px;
    object-fit: cover;
    cursor: pointer;
}

/* Boxes2 */
.boxesfour{
    
    width: 100%;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    
}
.boxx{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 23%;
    height: 455px;
    margin-left: 23px;
    background-color: white;
    
    margin-top: 20px;
}

/* amazonbasicheadphones */

/* Swiper2 */
.swiper2{
    margin-left: 28px;
    width: 96%;
    height: 300px;
    background-color: white;
    margin-top: 25px;
   
}
.label2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.label2 h1{
    font-size: 21px;
    margin-left: 28px;
    margin-top: 25px;
}
.label2 a{
    font-size: 14px;
    margin-top: 29px;
    margin-left: 15px;
    text-decoration: none;
    color: #007185;
}
.label2 a:hover{
    color: orange;
}

.swiper2box{
   
   height: 230px;
   width: 96%;
   margin-left: 28px;
   display: flex;
   align-items: center;
}
.swiper2pic img{
    cursor: pointer;
    object-fit: cover;
}

/* Footer */
.backtotop{
    width: 100%;
    height: 50px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e4157;
    color: white;
    text-align: center;
    font-size: 6px;
}
.footer{
    width: 100%;
    height: 390px;
    background-color: #232f3e;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerpadding{
    width: 75%;
    height: 250px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerlist{
   
    width: 200px;
    height: 250px;
   
   
}
.footerlist h1{
    font-size: 16px;
    color: white;
}
.footerlist p{
    margin: 7px;
    font-size: 14px;
    color: #c1c1c1;
}
.footerlist p:hover{
    margin: 7px;
    font-size: 14px;
    color: #c1c1c1;
    cursor: pointer;
    text-decoration: underline 1px solid white;
}
.footer2{
    width: 100%;
    height: 150px;
    background-color: #232f3e;
   
}
.amalogo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logoamz img{
    
    margin: 15px;
    height: 57px;
    width: 100px;
}
.lanselect{
   color: rgb(229, 224, 224);
   font-size: 13px;
   padding: 8px 0 0 25px;
    height: 25px;
    width: 95px;
    margin: 40px;
    border: 1px solid rgb(208, 204, 204);
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
}
#selectla{
    background: transparent;
    color: rgb(223, 220, 220);
    
}
.country{
    width: 100%;
    height: 40px;
    margin-top: -20px;
    text-align: center;
}
.country a{
    color: #c1c1c1;
    text-decoration: none;
    font-size: 12px;
    padding: 6px;
}
.country a:hover{
    color: #c1c1c1;
    text-decoration: underline 1px solid white;
}

